@import url("http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");
*{margin:0;padding:0;box-sizing:border-box}
html,body{width:100%;height:100%;font-size:14px;font-family:Arial,sans-serif;background-color:#eee}
.box{background-color:#fff;padding:5px;border:1px solid #ddd}
a:link, a:visited, a:active, a:hover{color:#0087cf;text-decoration:none;}
button{background-color:#0087cf;border:1px solid #0087cf;color:#fff;padding:10px 20px;}
button:hover, button:focus{background-color:#fff;border:1px solid #0087cf;color:#0087cf}
input{padding:9px 5px;border:1px solid #0087cf;outline:none;color:#999}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.icon{font-family:"FontAwesome"}
.blue{color:#0087cf}
.white{color:#fff}
.f-right{float: right!important;}
.f-left{float: left!important;}

.row{}
.row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.row:after{clear: both; }
.row{zoom: 1;}

.wrap-col{margin:10px;}

.scol-1-2, .scol-1-3, .scol-2-3, .scol-1-4, .scol-2-4, .scol-3-4, .scol-1-5, .scol-2-5, .scol-3-5, .scol-4-5, .scol-1-6, .scol-2-6, .scol-3-6, .scol-4-6, .scol-5-6{float:left; display: inline-block;}

.scol-full{width:100%;}

.scol-1-2{width:50%;}
.offset-1-2{margin-left: 50%;}

.scol-1-3{width:33.33%;}
.scol-2-3{width:66.66%;}
.offset-1-3{margin-left: 33.33%;}
.offset-2-3{margin-left: 66.66%;}

.scol-1-4{width:25%;}
.scol-2-4{width:50%;}
.scol-3-4{width:75%;}
.offset-1-4{margin-left: 25%;}
.offset-2-4{margin-left: 50%;}
.offset-3-4{margin-left: 75%;}

.scol-1-5{width:20%;}
.scol-2-5{width:40%;}
.scol-3-5{width:60%;}
.scol-4-5{width:80%;}
.offset-1-5{margin-left: 20%;}
.offset-2-5{margin-left: 40%;}
.offset-3-5{margin-left: 60%;}
.offset-4-5{margin-left: 80%;}

.scol-1-6{width:16.66%;}
.scol-2-6{width:33.33%;}
.scol-3-6{width:50%;}
.scol-4-6{width:66.66%;}
.scol-5-6{width:83.33%;}
.offset-1-6{margin-left: 16.66%;}
.offset-2-6{margin-left: 33.33%;}
.offset-3-6{margin-left: 50%;}
.offset-4-6{margin-left: 66.66%;}
.offset-5-6{margin-left: 83.33%;}
.fa-search{margin-left:-4px}

@media only screen and (max-width: 479px) {
	.scol-1-2, .scol-1-3, .scol-2-3, .scol-1-4, .scol-2-4, .scol-3-4, .scol-1-5, .scol-2-5, .scol-3-5, .scol-4-5, .scol-1-6, .scol-2-6, .scol-3-6, .scol-4-6, .scol-5-6{width:100%;}
	
	.offset-1-2, .offset-1-3, .offset-2-3, .offset-1-4, .offset-2-4, .offset-3-4, .offset-1-5, .offset-2-5, .offset-3-5, .offset-4-5, .offset-1-6, .offset-2-6, .offset-3-6, .offset-4-6, .offset-5-6{margin-left:0;}
}
