*{margin:0;padding:0;box-sizing:border-box}
html, body{width:100%;height:100%;font-size:14px;font-family:Arial,sans-serif;background-color:#eee}
.blue{color:#0087cf}
.yellow{color:#fddb56}
.grey{color:#7e7e7e}
.white{color:#fff}
.black{color:#000}
.orange{}
.red{color:#E62117}
.green{color:#7AD03A}
.dark{color:#333}
.purple{}
.back-dark{background-color:#333}
.back-green{background-color:#7AD03A}
.back-orange{}
.back-purple{}
.back-red{background-color:#E62117}
.back-black{background-color:#000}
.back-white{background-color:#fff}
.back-grey{background-color:#7e7e7e}
.back-yellow{background-color:#fddb56}
.back-blue{background-color:#0087cf}
hr{display: block;border: 0;height: 1px;border-top: 1px solid #ccc;}
.mauto{margin-left:auto;margin-right:auto}
.body-box{width:100%;height:100%}
nav{}
.left-nav{position:fixed;top:0;left:0;z-index:999;height:100%;}
.container{width:100%;max-width:1020px;padding:0 10px;margin-left:auto;margin-right:auto}
.header{}
.footer{}
.clear,.clear:before,.clear:after,.col-12:after,.scol-12:after,.xscol-12:after,.col:after,.row:after{clear:both}
.col,.col-12,.scol-12,.xscol-12{width:100%}
.col-11,.scol-11,.xscol-11{width:91.66%}
.col-10,.scol-10,.xscol-10{width:83.33%}
.col-9,.scol-9,.xscol-9{width:75%}
.col-8,.scol-8,.xscol-8{width:66.66%}
.col-7,.scol-7,.xscol-7{width:58.33%}
.col-6,.scol-6,.xscol-6{width:50%}
.col-5,.scol-5,.xscol-5{width:41.66%}
.col-4,.scol-4,.xscol-4{width:33.33%}
.col-3,.scol-3,.xscol-3{width:25%}
.col-2,.scol-2,.xscol-2{width:16.66%}
.col-1,.scol-1,.xscol-1{width:8.33%}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.scol-1,.scol-2,.scol-3,.scol-4,.scol-5,.scol-6,.scol-7,.scol-8,.scol-9,.scol-10,.scol-11,.scol-12,.xscol-1,.xscol-2,.xscol-3,.xscol-4,.xscol-5,.xscol-6,.xscol-7,.xscol-8,.xscol-9,.xscol-10,.xscol-11,.xscol-12{display:inline-block}
.box{}
.card{}
.br50p{border-radius:50%}
.b0{border:0}
.m0{margin:0}
.m1x{margin:5px}
.m2x{margin:10px}
.m3x{margin:15px}
.m4x{margin:20px}
.p1x{padding:5px}
.p2x{padding:10px}
.p3x{padding:15px}
.p4x{padding:20px}
.p0{padding:0}
.o0{outline:0}
.trans{opacity:0.5}
.hidden{display:none}
.br0{border-radius:0}
strong,b,.bold{font-weight:bold}
em,i,.italic{font-style:italic}
.block{display:block}
.inline{display:inline}
.inline-block{display:inline-block}
.fixed{position:fixed}
.relative{position:relative}
.absolute{position:absolute}
.invisible{opacity:0}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.ttu{text-transform:uppercase}
.ttl{text-transform:lowercase}
.pointer{cursor: pointer}
@media (max-width:768px){
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{width:100%}
}
@media (max-width:480px){
.scol-1,.scol-2,.scol-3,.scol-4,.scol-5,.scol-6,.scol-7,.scol-8,.scol-9,.scol-10,.scol-11,.scol-12{width:100%}
}